<% @page_title = "Edit User: #{@user.username}" -%>

<%#= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>
<%= link_to("<< Back to List", {:action =>'index'}) %>

<div class="user edit">
  <h2>Edit User</h2>

  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}, :method => 'PUT') do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	

  	  <%= submit_tag('Update User', :class => "btn-primary") %>

  <% end %>
</div>
