<% @page_title = 'Create User' %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="user new">
  <h2>Create User</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>
  

      <%= submit_tag 'Create User', :class => "btn-primary" %>

  
  <% end %>
</div>
