<% @page_title = "Edit Item: #{@item.name}" -%>

<%#= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>
<%= link_to("<< Back to List", {:action =>'list', :group_name => params[:group_name]}) %>

<div class="item edit">
  <h2>Edit Item</h2>

  <%= form_for(:item, :url => {:action => 'update', :id => @item.id}, :method => 'PUT') do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	

  	  <%= submit_tag('Update Item', :class => "btn-primary") %>

  <% end %>
</div>
