<!DOCTYPE html>
<html>
<head>
  <title>Sups Wedding</title>
  <%= stylesheet_link_tag    "jquery-ui-1.8.18.custom.css", "dojo.css", "tundra.css", "style", "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", "jquery-ui-1.8.18.custom.min.js", "jquery.dataTables.js", "jquery.js", "jquery.dataTables.min.js", "DT_bootstrap.js", "paging.js", "checkbox.js", "bootstrap-tabs.js", "application" %>
  <%= csrf_meta_tags %>

<script>

$(document).ready(function() {
    $('#example').dataTable( {
        "aaSorting": [[ 4, "desc" ]]
    } );
} );

$(document).ready(function() {
    $('#example').dataTable( {
        "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
    } );
} );

$.extend( $.fn.dataTableExt.oStdClasses, {
    "sSortAsc": "header headerSortDown",
    "sSortDesc": "header headerSortUp",
    "sSortable": "header"
} );

$(document).ready(function() {
    $('#example').dataTable( {
        "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
        "sPaginationType": "bootstrap"
    } );
} );

</script>

<script>
$('#myTab').tab('show')
	</script>
 
 <script>
  $(function () {
    $('.tabs a:last').tab('show')
  })
</script>


</head>
<body>

<%= yield %>

</body>
</html>
